.p_cenetr{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.d_center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.d_row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.d_column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.d_row_between{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.d_column_between{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.focus:hover{
  box-shadow: 0px 0px 4px 3px #eee;
 
}